.place__paragraph {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph:nth-last-child(1) {
    margin: 0;
}

@media screen and (max-width: 1023px) {
.place__paragraph {
    font-size: 16px;
    line-height: 26px;
}
}