.footer__links {
    margin: 92px 0 24px;
    padding: 0;
    list-style: none;
    display: flex;
}

@media screen and (max-width: 1023px) {
.footer__links {
    margin: 88px 0 24px;
}
}
    
@media screen and (max-width: 767px) {
.footer__links {
    margin: 64px 0 0;
    flex-direction: column;
    justify-content: space-between;
    min-height: 248px;
}
}