.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 412px;
}

@media screen and (max-width: 1279px) {
.cover__subtitle {
    margin: 0 332px;
}
}
    
@media screen and (max-width: 1023px) {
.cover__subtitle {
    margin: 0 204px;
}
}

@media screen and (max-width: 767px) {
.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 33px;
}
}