.cover__item {
    min-height: 740px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.cover__item:before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}

.cover__item:hover:before {
    opacity: 0.75;
}

@media screen and (max-width: 1279px) {
.cover__item {
    min-height: 640px;
}
}
    
@media screen and (max-width: 1023px) {
.cover__item {
    min-height: 480px;
}
}

@media screen and (max-width: 767px) {
.cover__item {
    min-height: 200px;
}
}