.lead__image {
    max-width: 984px;
    margin: 0 100px;
}

@media screen and (max-width: 1279px) {
.lead__image {
    max-width: 928px;
    margin: 0;
}
}

@media screen and (max-width: 1023px) {
.lead__image {
    margin: 0 -24px;
    max-width: 768px;
}
}
            
@media screen and (max-width: 767px) {
.lead__image {
    margin: 0 -16px;
    max-width: 320px;
}
}