.lead__subtitle {
    margin: 0 272px 64px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
.lead__subtitle {
    margin: 0 144px 56px;
}
}
    
@media screen and (max-width: 1023px) {
.lead__subtitle {
    margin: 0 40px 56px;
}
}
    
@media screen and (max-width: 767px) {
.lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 40px;
}
}