.photo-grid__item {
    max-height: 213px;
    width: 100%;
}

@media screen and (max-width: 1279px) {
.photo-grid__item {
    max-height: 225px;
}
}

@media screen and (max-width: 1023px) {
.photo-grid__item {
    max-height: 264px;
}
}

@media screen and (max-width: 767px) {
.photo-grid__item {
    max-height: 216px;
}
}