.cover {
    background-image: url(./../../images/cover-trains.jpg);
    background-size: cover;
    margin: 0 -48px;
    }
            
@media screen and (max-width: 1023px) {
.cover {
    margin: 0 -24px;
}
}
        
@media screen and (max-width: 767px) {
.cover {
    margin: 0 -16px;
}
}