.header__link {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
.header__link {
    font-size: 18px;
    line-height: 20px;
}
}